#footer {
  margin-top: 30px;
  padding: 20px;
  color: black;
  position: relative;
}

#container {
  min-height: 90vh;
}

#navbar {
  a {
    &:hover {
      color: black;
      text-decoration: none;
      background-color: ghostwhite;
    }
  }
}

.active {
  color: black;

}

.not-active {
  color: darkgrey;
}

#showtodo {
  width: 70%;
  margin: auto;
  text-align: center;
  span:first-of-type {

    font-size: 0.9em;
  }
}

#btnDelete::first-letter{
  font-weight: bold;
}